<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Controle de consulta</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            </head>
    <body class="container">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Cadastro de paciente</legend>

                <!-- Alerta obrigatoriedade -->
                <div class ="alert-info"></alert>Os campos sinalizados com asterisco (*) são obrigatórios.
                </div><br><br>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtNomePaciente">* Nome: </label>  
                    <div class="col-md-6">
                        <input id="txtNomePaciente" name="txtNomePaciente" type="text" placeholder="Informe o nome completo" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textiCPFPaciente">CPF:</label>
                    <div class="col-md-2">
                        <input id="textiCPFPaciente" name="textiCPFPaciente" type="text" placeholder="999.999.999-99" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textTelPaciente">* Telefone:</label>  
                    <div class="col-md-2">
                        <input id="textTelPaciente" name="textTelPaciente" type="text" placeholder="(99)99999-9999" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtEndPaciente">Endereço:</label>  
                    <div class="col-md-6">
                        <input id="txtEndPaciente" name="txtEndPaciente" type="text" placeholder="Informe o nome e número da residência" class="form-control input-md">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasicPlano">Plano:</label>
                    <div class="col-md-2">
                        <select id="selectbasicPlano" name="selectbasicPlano" class="form-control">
                            <option value="1">Selecione</option>
                            <option value="2">Sem cobertura</option>
                            <option value="3">Cobertura parcial</option>
                            <option value="4">Cobertura total</option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textPlanoPaciente">Nome do plano:</label>  
                    <div class="col-md-6">
                        <input id="textPlanoPaciente" name="textPlanoPaciente" type="text" placeholder="Informe o nome do plano" class="form-control input-md">
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnSalvar"></label>
                    <div class="col-md-8">
                        <button id="btnSalvar" name="btnSalvar" class="btn btn-success">Salvar</button>
                        <button id="btnCancelar" name="btnCancelar" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>