{% extends 'layout.html' %}
{% block title %}Cadastro de Agendamentos{% endblock %}
{% block content %}
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Cadastro de agendamento</legend>

                <!-- Alerta obrigatoriedade -->
                <div class ="alert-info"></alert>Os campos sinalizados com asterisco (*) são obrigatórios.
                </div><br><br>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtNomeMedico">* Nome do médico: </label>  
                    <div class="col-md-6">
                        <input id="txtNomeMedico" name="txtNomeMedico" type="text" placeholder="Informe o nome completo" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textNomePaciente">* Nome do paciente:</label>  
                    <div class="col-md-6">
                        <input id="textNomePaciente" name="textNomePaciente" type="text" placeholder="999.999.999-99" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textTelContato">Telefone:</label><div class="col-md-4">
                        <input id="textTelContato" name="textTelContato" type="text" placeholder="(99)99999-9999" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="dateDataAgendamento">* Data:</label>  
                    <div class="col-md-2">
                        <input id="dateDataAgendamento" name="dateDataAgendamento" type="date" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="timeHoraAgendamento">* Hora:</label>  
                    <div class="col-md-2">
                        <input id="timeHoraAgendamento" name="timeHoraAgendamento" type="time" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnSalvar"></label>
                    <div class="col-md-8">
                        <button id="btnSalvar" name="btnSalvar" class="btn btn-success">Salvar</button>
                        <button id="btnCancelar" name="btnCancelar" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
{% endfor %}