{% extends 'layout.html' %}
{% block title %}Consulta de Especialidade{% endblock %}
{% block content %}
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Consulta de especialidade</legend>
                
                <input type="hidden" id="limit" name="limit" value="10" />
                <input type="hidden" id="offset" name="offset" value="0" />

                <!-- Search input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="searchEspecialidade">Nome da especialidade</label>
                    <div class="col-md-5">
                        <input id="descricao" name="descricao" type="search" placeholder="Informe a especialdade" class="form-control input-md">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="status">Situação</label>
                    <div class="col-md-4">
                        <select id="status" name="status" class="form-control">
                            <option value="1">Selecione</option>
                            <option value="2">Ativo</option>
                            <option value="3">Inativo</option>
                        </select>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnPesquisar"></label>
                    <div class="col-md-8">
                        <button id="btnPesquisar" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <table class="table table-bordered table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="dados-tabela">
                
            </tbody>
        </table>
        <template id="linha-template">
            <tr>
                <td>[{id}]</td>
                <td>[{descricao}]</td>
                <td>[{status}]</td>
                <td>
                    <a class="btn btn-warning" href="{{url_for("especialidade.form")}}[{id}]">Editar</a>
                    <a class="btn btn-danger" href="{{url_for("especialidade.delete",pk='')}}[{id}]">Excluir</a>
                </td>
            </tr>
        </template>
        <script type="text/javascript">
            var limit = 10;
            var offset = 0;
            var buscarEspecialidades = function(){
                var dados = $('form').serialize();
                $.ajax({
                    url:'{{ url_for("especialidade.ajax") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json',
                    success:function(retorno){
                        $('dados-tabela').html('');
                        var template = _.template( $("#linha-template").html() );
                        _.each(retorno, function(linha){
                            var html = template(linha);
                            $('.dados-tabela').append(html);
                        });
                    }
                })
            };
            $(document).ready(function(){
                buscarEspecialidades();
                $("#btnPesquisar").click(buscarEspecialidades);
            });
        </script>
{% endblock %}