{% extends 'layout.html' %}
{% block title %}Consulta de Especialidade{% endblock %}
{% block content %}
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Consulta de especialidade</legend>
                
                <input type="hidden" id="limit" name="limit" value="10" />
                <input type="hidden" id="offset" name="offset" value="0" />

                <!-- Search input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="searchEspecialidade">Nome da especialidade</label>
                    <div class="col-md-5">
                        <input id="descricao" name="descricao" type="search" placeholder="Informe a especialdade" class="form-control input-md">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="status">Situação</label>
                    <div class="col-md-4">
                        <select id="status" name="status" class="form-control">
                            <option value="1">Selecione</option>
                            <option value="2">Ativo</option>
                            <option value="3">Inativo</option>
                        </select>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnPesquisar"></label>
                    <div class="col-md-8">
                        <button id="btnPesquisar" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr />
        <table class="table table-bordered table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="dados-tabela">
                
            </tbody>
        </table>
        <div class="div-paginacao">
        </div>
        <template id="linha-template">
            <tr>
                <td>[{id}]</td>
                <td>[{descricao}]</td>
                <td>[{status}]</td>
                <td>
                    <a class="btn btn-warning" href="{{url_for("especialidade.form")}}[{id}]">Editar</a>
                    <a class="btn btn-danger" href="#" data-target="{{url_for("especialidade.delete",pk='')}}[{id}]">Excluir</a>
                </td>
            </tr>
        </template>
        <template id="paginacao-template">
            <nav aria-label="...">
              <ul class="pager">
                <li><a href="#" class="[{prev}]" data-target="-1">Previous</a></li>
                <li><a href="#" class="[{prev}]" data-target="+1">Next</a></li>
                <li class="pull-right">Total: [{count}]</li>
              </ul>
            </nav>
        </template>
        <script type="text/javascript">
            var limit = 10;
            var offset = 0;
            var carregarDados = function(){
                var dados = $('form').serialize();
                var d_count = $.ajax({
                    url:'{{ url_for("especialidade.count") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json'
                });
                var d_dados = $.ajax({
                    url:'{{ url_for("especialidade.ajax") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json'
                });
                $.when(d_count,d_dados).then(function(r_count, retorno){
                    //Atualizando paginação
                    var retorno_count = r_count[0];
                    $('.div-paginacao').html('');
                    var template = _.template( $("#paginacao-template").html() );
                    var _count = parseInt(retorno_count['count']);
                    var _offset = parseInt($('#offset').val());
                    var _limit = parseInt($('#limit').val());
                    var _max_page = _count /_limit;
                    _max_page = (_count % _limit != 0)? _max_page + 1: _max_page;
                    retorno_count['prev'] = _offset == 0 ? 'disabled' : '';
                    retorno_count['next'] = _offset == _max_page ? 'disabled' : '';
                    $('.div-paginacao').append( template(retorno_count) );
                    //Fim da paginação

                    //Atualizando Tabela
                    var dados = retorno[0];
                    $('.dados-tabela').html('');
                    var template = _.template( $("#linha-template").html() );
                    _.each(dados, function(linha){
                        var html = template(linha);
                        $('.dados-tabela').append(html);
                    });
                    //Fim da Atualizacao da Tabela

                })
            };

            var eventoExcluir = function(){
                var btn = $(this);
                bootbox.confirm("Deseja excluir esse registro?", function(result) {
                    if(result){
                        $.post(btn.data('target'),function(data){
                            bootbox.alert('Registro excluído com sucesso!');
                            window.location.reload();
                        }).fail(function(){
                            bootbox.alert('Erro ao excluir registro!');
                        });
                    }
                });
            };
            var eventoPage = function(event){
                var target = event.target;
                if($(target).hasClass('disabled')){
                    event.preventDefault();
                }else{
                    var _offset = parseInt( $("#offset").val() );
                    _offset += parseInt( $(target).data('target') );
                    $("#offset").val(_offset);
                    carregarDados();
                }
            }
            $(document).ready(function(){
                carregarDados();
                $("#btnPesquisar").click(carregarDados);
                $('table').on('click','.btn-danger', eventoExcluir);
                $('table').on('click','.pager a', eventoPage);
            });
        </script>
{% endblock %}