<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Controle de consulta</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            </head>
    <body class="container">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Consulta de especialidade</legend>

                <!-- Search input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="searchEspecialidade">Nome da especialidade</label>
                    <div class="col-md-5">
                        <input id="searchEspecialidade" name="searchEspecialidade" type="search" placeholder="Informe a especialdade" class="form-control input-md">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasicSituacao">Situação</label>
                    <div class="col-md-4">
                        <select id="selectbasicSituacao" name="selectbasicSituacao" class="form-control">
                            <option value="1">Selecione</option>
                            <option value="2">Ativo</option>
                            <option value="3">Inativo</option>
                        </select>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnSalvar"></label>
                    <div class="col-md-8">
                        <button id="btnSalvar" name="btnSalvar" class="btn btn-success">Salvar</button>
                        <button id="btnCancelar" name="btnCancelar" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>