{% extends 'layout.html' %}
{% block title %}Cadastro de Médicos{% endblock %}
{% block content %}
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Cadastro de cliente</legend>

                <!-- Alerta obrigatoriedade -->
                <div class ="alert-info"></alert>Os campos sinalizados com asterisco (*) são obrigatórios.
                </div><br><br>

                <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label" for="txtnomeMedico">* Nome: </label>  
                    <div class="col-md-6">
                        <input id="txtnomeMedico" name="txtnomeMedico" type="text" placeholder="Informe o nome completo" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textiCPFMedico">CPF:</label>  
                    <div class="col-md-2">
                        <input id="textiCPFMedico" name="textiCPFMedico" type="text" placeholder="999.999.999-99" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="numeroCRM">* CRM:</label>  
                    <div class="col-md-6">
                        <input id="numeroCRM" name="numeroCRM" type="text" placeholder="Informe o número do CRM" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasicEspecialidade">* Especialidade:</label>
                    <div class="col-md-2">
                        <input type="text" id="selectbasicEspecialidade" name="selectbasicEspecialidade"   class="form-control" required="">
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="areaMedico">Área de atuação:</label>  
                    <div class="col-md-6">
                        <input id="areaMedico" name="areaMedico" type="text" placeholder="Informa a área de atuação" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtEndMedico">Endereço:</label>  
                    <div class="col-md-6">
                        <input id="txtEndMedico" name="txtEndMedico" type="text" placeholder="Informe o nome e número da residência" class="form-control input-md">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasicEstadoMedico">Estado: </label>
                    <div class="col-md-2">
                        <select id="selectbasicEstadoMedico" name="selectbasicEstadoMedico" class="form-control">
                            <option value="1">Selecione</option>
                            <option value="2">AC</option>
                            <option value="3">AL</option>
                            <option value="4">AP</option>
                            <option value="5">AM</option>
                            <option value="6">BA</option>
                            <option value="7">CE</option>
                            <option value="8">DF</option>
                            <option value="9">ES</option>
                            <option value="10">GO</option>
                            <option value="11">MA</option>
                            <option value="12">MT</option>
                            <option value="13">MS</option>
                            <option value="14">MG</option>
                            <option value="15">PA</option>
                            <option value="16">PB</option>
                            <option value="17">PR</option>
                            <option value="18">PE</option>
                            <option value="19">PI</option>
                            <option value="20">RJ</option>
                            <option value="21">RN</option>
                            <option value="22">RS</option>
                            <option value="23">RO</option>
                            <option value="24">RR</option>
                            <option value="25">SC</option>
                            <option value="26">SP</option>
                            <option value="27">SE</option>
                            <option value="28">TO</option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textCidMedico">Cidade:</label>  
                    <div class="col-md-6">
                        <input id="textCidMedico" name="textCidMedico" type="text" placeholder="Informe o nome da cidade" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textTelMedico">* Telefone:</label>  
                    <div class="col-md-4">
                        <input id="textTelMedico" name="textTelMedico" type="text" placeholder="(99)99999-9999" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasicSituacao">Situação</label>
                    <div class="col-md-4">
                        <select id="selectbasicSituacao" name="selectbasicSituacao" class="form-control">
                            <option value="1">Selecione</option>
                            <option value="2">Ativo</option>
                            <option value="3">Inativo</option>
                        </select>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnSalvar"></label>
                    <div class="col-md-2">
                        <button id="btnSalvar" name="btnSalvar" class="btn btn-success">Salvar</button>
                        <button id="btnCancelar" name="btnCancelar" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <script type="text/javascript">
      $("#selectbasicEspecialidade").selectSearch({
        findSearch:function(search, limit, offset){
            var d1 = $.Deferred();
            if(offset == 0){
                d1.resolve(
                    [
                        {'valor':'1','descricao':'Item 1'},
                        {'valor':'2','descricao':'Item 2'},
                        {'valor':'3','descricao':'Item 3'},
                        {'valor':'4','descricao':'Item 4'},
                        {'valor':'5','descricao':'Item 5'},
                        {'valor':'6','descricao':'Item 6'},
                        {'valor':'6','descricao':'Item 7'},
                        {'valor':'6','descricao':'Item 8'},
                        {'valor':'6','descricao':'Item 9'},
                    ]
                    );
            }
            if(offset == 1){
                d1.resolve(
                    [
                        {'valor':'7','descricao':'Item 7'},
                        {'valor':'8','descricao':'Item 8'},
                        {'valor':'9','descricao':'Item 9'},
                        {'valor':'10','descricao':'Item 10'}
                    ]
                    );
            }
            if(offset == 2){
                d1.resolve(
                    [
                        {'valor':'11','descricao':'Item 11'},
                        {'valor':'12','descricao':'Item 12'},
                        {'valor':'13','descricao':'Item 13'},
                        {'valor':'14','descricao':'Item 14'}
                    ]
                    );
            }
            return d1;
        },
        findById:function(id){
            var d1 = $.Deferred();
            d1.resolve({'valor':id,'descricao':'Item '+id});
            return d1;
        },
          getDescription: function(data){
              return data.descricao;
          },
          getValue: function(data){
              return data.valor;
          },
          hideField:true
      });
      </script>    
{% endblock %}