{% extends 'layout.html' %}
{% block title %}Consulta de Médicos{% endblock %}
{% block content %}
        <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
                <legend>Consulta de médico</legend>

                <!-- Search input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="searchNome">Nome:</label>
                    <div class="col-md-6">
                        <input id="searchNome" name="searchNome" type="search" placeholder="Informe o nome" class="form-control input-md">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasicEspecialidade">Especialidade</label>
                    <div class="col-md-4">
                        <select id="selectbasicEspecialidade" name="selectbasicEspecialidade" class="form-control">
                        </select>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnPesquisar"></label>
                    <div class="col-md-4">
                        <button id="btnPesquisar" name="btnPesquisar" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </fieldset>
        </form>
{% endblock %}